<ncts:CC013C PhaseID="NCTS5.0" xmlns:ncts="http://ncts.dgtaxud.ec">
  <messageRecipient>{{ messageRecipient }}</messageRecipient>
  <preparationDateAndTime>{{ preparationDateAndTime }}</preparationDateAndTime>
  <messageIdentification>{{ messageIdentification }}</messageIdentification>
  <messageType>{{ messageType }}</messageType>
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <correlationIdentifier>{{ correlationIdentifier }}</correlationIdentifier>
  {%- endfor %}
  <TransitOperation>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <LRN>{{ LRN }}</LRN>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <MRN>{{ MRN }}</MRN>
    {%- endfor %}
    <declarationType>{{ declarationType }}</declarationType>
    <additionalDeclarationType>{{ additionalDeclarationType }}</additionalDeclarationType>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TIRCarnetNumber>{{ TIRCarnetNumber }}</TIRCarnetNumber>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <presentationOfTheGoodsDateAndTime>{{ presentationOfTheGoodsDateAndTime }}</presentationOfTheGoodsDateAndTime>
    {%- endfor %}
    <security>{{ security }}</security>
    <reducedDatasetIndicator>{{ reducedDatasetIndicator }}</reducedDatasetIndicator>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <specificCircumstanceIndicator>{{ specificCircumstanceIndicator }}</specificCircumstanceIndicator>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <communicationLanguageAtDeparture>{{ communicationLanguageAtDeparture }}</communicationLanguageAtDeparture>
    {%- endfor %}
    <bindingItinerary>{{ bindingItinerary }}</bindingItinerary>
    <amendmentTypeFlag>{{ amendmentTypeFlag }}</amendmentTypeFlag>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <limitDate>{{ limitDate }}</limitDate>
    {%- endfor %}
  </TransitOperation>
  {#- 0 to 9 repetitions: #}
  {%- for i in range(0, 0) %}
  <Authorisation>
    <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
    <type>{{ type }}</type>
    <referenceNumber>{{ referenceNumber }}</referenceNumber>
  </Authorisation>
  {%- endfor %}
  <CustomsOfficeOfDeparture>
    <referenceNumber>{{ referenceNumber }}</referenceNumber>
  </CustomsOfficeOfDeparture>
  <CustomsOfficeOfDestinationDeclared>
    <referenceNumber>{{ referenceNumber }}</referenceNumber>
  </CustomsOfficeOfDestinationDeclared>
  {#- 0 to 9 repetitions: #}
  {%- for i in range(0, 0) %}
  <CustomsOfficeOfTransitDeclared>
    <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
    <referenceNumber>{{ referenceNumber }}</referenceNumber>
    <arrivalDateAndTimeEstimated>{{ arrivalDateAndTimeEstimated }}</arrivalDateAndTimeEstimated>
  </CustomsOfficeOfTransitDeclared>
  {%- endfor %}
  {#- 0 to 9 repetitions: #}
  {%- for i in range(0, 0) %}
  <CustomsOfficeOfExitForTransitDeclared>
    <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
    <referenceNumber>{{ referenceNumber }}</referenceNumber>
  </CustomsOfficeOfExitForTransitDeclared>
  {%- endfor %}
  <HolderOfTheTransitProcedure>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <identificationNumber>{{ identificationNumber }}</identificationNumber>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TIRHolderIdentificationNumber>{{ TIRHolderIdentificationNumber }}</TIRHolderIdentificationNumber>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <name>{{ name }}</name>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <Address>
        <streetAndNumber>{{ streetAndNumber }}</streetAndNumber>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <postcode>{{ postcode }}</postcode>
        {%- endfor %}
        <city>{{ city }}</city>
        <country>{{ country }}</country>
    </Address>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <ContactPerson>
        <name>{{ name }}</name>
        <phoneNumber>{{ phoneNumber }}</phoneNumber>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <eMailAddress>{{ eMailAddress }}</eMailAddress>
        {%- endfor %}
    </ContactPerson>
    {%- endfor %}
  </HolderOfTheTransitProcedure>
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <Representative>
    <identificationNumber>{{ identificationNumber }}</identificationNumber>
    <status>{{ status }}</status>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <ContactPerson>
        <name>{{ name }}</name>
        <phoneNumber>{{ phoneNumber }}</phoneNumber>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <eMailAddress>{{ eMailAddress }}</eMailAddress>
        {%- endfor %}
    </ContactPerson>
    {%- endfor %}
  </Representative>
  {%- endfor %}
  {#- 1 to 9 repetitions: #}
  {%- for i in range(0, 1) %}
  <Guarantee>
    <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
    <guaranteeType>{{ guaranteeType }}</guaranteeType>
    <otherGuaranteeReference>{{ otherGuaranteeReference }}</otherGuaranteeReference>
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 0) %}
    <GuaranteeReference>
        <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
        <GRN>{{ GRN }}</GRN>
        <accessCode>{{ accessCode }}</accessCode>
        <amountToBeCovered>{{ amountToBeCovered }}</amountToBeCovered>
        <currency>{{ currency }}</currency>
    </GuaranteeReference>
    {%- endfor %}
  </Guarantee>
  {%- endfor %}
  <Consignment>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <countryOfDispatch>{{ countryOfDispatch }}</countryOfDispatch>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <countryOfDestination>{{ countryOfDestination }}</countryOfDestination>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <containerIndicator>{{ containerIndicator }}</containerIndicator>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <inlandModeOfTransport>{{ inlandModeOfTransport }}</inlandModeOfTransport>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <modeOfTransportAtTheBorder>{{ modeOfTransportAtTheBorder }}</modeOfTransportAtTheBorder>
    {%- endfor %}
    <grossMass>{{ grossMass }}</grossMass>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <referenceNumberUCR>{{ referenceNumberUCR }}</referenceNumberUCR>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <Carrier>
        <identificationNumber>{{ identificationNumber }}</identificationNumber>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <ContactPerson>
            <name>{{ name }}</name>
            <phoneNumber>{{ phoneNumber }}</phoneNumber>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <eMailAddress>{{ eMailAddress }}</eMailAddress>
            {%- endfor %}
        </ContactPerson>
        {%- endfor %}
    </Carrier>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <Consignor>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <identificationNumber>{{ identificationNumber }}</identificationNumber>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <name>{{ name }}</name>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <Address>
            <streetAndNumber>{{ streetAndNumber }}</streetAndNumber>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <postcode>{{ postcode }}</postcode>
            {%- endfor %}
            <city>{{ city }}</city>
            <country>{{ country }}</country>
        </Address>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <ContactPerson>
            <name>{{ name }}</name>
            <phoneNumber>{{ phoneNumber }}</phoneNumber>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <eMailAddress>{{ eMailAddress }}</eMailAddress>
            {%- endfor %}
        </ContactPerson>
        {%- endfor %}
    </Consignor>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <Consignee>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <identificationNumber>{{ identificationNumber }}</identificationNumber>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <name>{{ name }}</name>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <Address>
            <streetAndNumber>{{ streetAndNumber }}</streetAndNumber>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <postcode>{{ postcode }}</postcode>
            {%- endfor %}
            <city>{{ city }}</city>
            <country>{{ country }}</country>
        </Address>
        {%- endfor %}
    </Consignee>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 0) %}
    <AdditionalSupplyChainActor>
        <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
        <role>{{ role }}</role>
        <identificationNumber>{{ identificationNumber }}</identificationNumber>
    </AdditionalSupplyChainActor>
    {%- endfor %}
    {#- 0 to 9999 repetitions: #}
    {%- for i in range(0, 0) %}
    <TransportEquipment>
        <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <containerIdentificationNumber>{{ containerIdentificationNumber }}</containerIdentificationNumber>
        {%- endfor %}
        <numberOfSeals>{{ numberOfSeals }}</numberOfSeals>
        {#- 0 to 99 repetitions: #}
        {%- for i in range(0, 0) %}
        <Seal>
           <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
           <identifier>{{ identifier }}</identifier>
        </Seal>
        {%- endfor %}
        {#- 0 to 9999 repetitions: #}
        {%- for i in range(0, 0) %}
        <GoodsReference>
            <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
            <declarationGoodsItemNumber>{{ declarationGoodsItemNumber }}</declarationGoodsItemNumber>
        </GoodsReference>
        {%- endfor %}
    </TransportEquipment>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <LocationOfGoods>
        <typeOfLocation>{{ typeOfLocation }}</typeOfLocation>
        <qualifierOfIdentification>{{ qualifierOfIdentification }}</qualifierOfIdentification>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <authorisationNumber>{{ authorisationNumber }}</authorisationNumber>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
            <additionalIdentifier>{{ additionalIdentifier }}</additionalIdentifier>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
            <UNLocode>{{ UNLocode }}</UNLocode>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <CustomsOffice>
            <referenceNumber>{{ referenceNumber }}</referenceNumber>
        </CustomsOffice>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <GNSS>
            <latitude>{{ latitude }}</latitude>
            <longitude>{{ longitude }}</longitude>
        </GNSS>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <EconomicOperator>
            <identificationNumber>{{ identificationNumber }}</identificationNumber>
        </EconomicOperator>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <Address>
            <streetAndNumber>{{ streetAndNumber }}</streetAndNumber>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <postcode>{{ postcode }}</postcode>
            {%- endfor %}
            <city>{{ city }}</city>
            <country>{{ country }}</country>
        </Address>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <PostcodeAddress>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <houseNumber>{{ houseNumber }}</houseNumber>
            {%- endfor %}
            <postcode>{{ postcode }}</postcode>
            <country>{{ country }}</country>
        </PostcodeAddress>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <ContactPerson>
            <name>{{ name }}</name>
            <phoneNumber>{{ phoneNumber }}</phoneNumber>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <eMailAddress>{{ eMailAddress }}</eMailAddress>
            {%- endfor %}
        </ContactPerson>
        {%- endfor %}
    </LocationOfGoods>
    {%- endfor %}
    {#- 0 to 999 repetitions: #}
    {%- for i in range(0, 0) %}
    <DepartureTransportMeans>
        <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <typeOfIdentification>{{ typeOfIdentification }}</typeOfIdentification>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <identificationNumber>{{ identificationNumber }}</identificationNumber>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <nationality>{{ nationality }}</nationality>
        {%- endfor %}
    </DepartureTransportMeans>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 0) %}
    <CountryOfRoutingOfConsignment>
        <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
        <country>{{ country }}</country>
    </CountryOfRoutingOfConsignment>
    {%- endfor %}
    {#- 0 to 9 repetitions: #}
    {%- for i in range(0, 0) %}
    <ActiveBorderTransportMeans>
        <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <customsOfficeAtBorderReferenceNumber>{{ customsOfficeAtBorderReferenceNumber }}</customsOfficeAtBorderReferenceNumber>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <typeOfIdentification>{{ typeOfIdentification }}</typeOfIdentification>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <identificationNumber>{{ identificationNumber }}</identificationNumber>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <nationality>{{ nationality }}</nationality>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <conveyanceReferenceNumber>{{ conveyanceReferenceNumber }}</conveyanceReferenceNumber>
        {%- endfor %}
    </ActiveBorderTransportMeans>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <PlaceOfLoading>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <UNLocode>{{ UNLocode }}</UNLocode>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <country>{{ country }}</country>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <location>{{ location }}</location>
        {%- endfor %}
    </PlaceOfLoading>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <PlaceOfUnloading>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <UNLocode>{{ UNLocode }}</UNLocode>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <country>{{ country }}</country>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <location>{{ location }}</location>
        {%- endfor %}
    </PlaceOfUnloading>
    {%- endfor %}
    {#- 0 to 9999 repetitions: #}
    {%- for i in range(0, 0) %}
    <PreviousDocument>
       <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
       <type>{{ type }}</type>
       <referenceNumber>{{ referenceNumber }}</referenceNumber>
       {#- Optional: #}
       {%- for i in range(0, 0) %}
       <complementOfInformation>{{ complementOfInformation }}</complementOfInformation>
       {%- endfor %}
    </PreviousDocument>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 0) %}
    <SupportingDocument>
         <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
         <type>{{ type }}</type>
         <referenceNumber>{{ referenceNumber }}</referenceNumber>
         {#- Optional: #}
         {%- for i in range(0, 0) %}
         <documentLineItemNumber>{{ documentLineItemNumber }}</documentLineItemNumber>
         {%- endfor %}
         {#- Optional: #}
         {%- for i in range(0, 0) %}
         <complementOfInformation>{{ complementOfInformation }}</complementOfInformation>
         {%- endfor %}
    </SupportingDocument>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 0) %}
    <TransportDocument>
        <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
        <type>{{ type }}</type>
        <referenceNumber>{{ referenceNumber }}</referenceNumber>
    </TransportDocument>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 0) %}
    <AdditionalReference>
        <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
        <type>{{ type }}</type>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <referenceNumber>{{ referenceNumber }}</referenceNumber>
        {%- endfor %}
    </AdditionalReference>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 0) %}
    <AdditionalInformation>
        <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
        <code>{{ code }}</code>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <text>{{ text }}</text>
        {%- endfor %}
    </AdditionalInformation>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TransportCharges>
         <methodOfPayment>{{ methodOfPayment }}</methodOfPayment>
    </TransportCharges>
    {%- endfor %}
    {#- 1 to 99 repetitions: #}
    {%- for i in range(0, 1) %}
    <HouseConsignment>
        <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <countryOfDispatch>{{ countryOfDispatch }}</countryOfDispatch>
        {%- endfor %}
        <grossMass>{{ grossMass }}</grossMass>
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <referenceNumberUCR>{{ referenceNumberUCR }}</referenceNumberUCR>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <Consignor>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <identificationNumber>{{ identificationNumber }}</identificationNumber>
            {%- endfor %}
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <name>{{ name }}</name>
            {%- endfor %}
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <Address>
                <streetAndNumber>{{ streetAndNumber }}</streetAndNumber>
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <postcode>{{ postcode }}</postcode>
                {%- endfor %}
                <city>{{ city }}</city>
                <country>{{ country }}</country>
            </Address>
            {%- endfor %}
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <ContactPerson>
                <name>{{ name }}</name>
                <phoneNumber>{{ phoneNumber }}</phoneNumber>
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <eMailAddress>{{ eMailAddress }}</eMailAddress>
                {%- endfor %}
            </ContactPerson>
            {%- endfor %}
        </Consignor>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <Consignee>
           {#- Optional: #}
           {%- for i in range(0, 0) %}
           <identificationNumber>{{ identificationNumber }}</identificationNumber>
           {%- endfor %}
           {#- Optional: #}
           {%- for i in range(0, 0) %}
           <name>{{ name }}</name>
           {%- endfor %}
           {#- Optional: #}
           {%- for i in range(0, 0) %}
           <Address>
            <streetAndNumber>{{ streetAndNumber }}</streetAndNumber>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <postcode>{{ postcode }}</postcode>
            {%- endfor %}
            <city>{{ city }}</city>
            <country>{{ country }}</country>
          </Address>
          {%- endfor %}
        </Consignee>
        {%- endfor %}
        {#- 0 to 99 repetitions: #}
        {%- for i in range(0, 0) %}
        <AdditionalSupplyChainActor>
            <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
            <role>{{ role }}</role>
            <identificationNumber>{{ identificationNumber }}</identificationNumber>
        </AdditionalSupplyChainActor>
        {%- endfor %}
        {#- 0 to 999 repetitions: #}
        {%- for i in range(0, 0) %}
        <DepartureTransportMeans>
            <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
            <typeOfIdentification>{{ typeOfIdentification }}</typeOfIdentification>
            <identificationNumber>{{ identificationNumber }}</identificationNumber>
            <nationality>{{ nationality }}</nationality>
        </DepartureTransportMeans>
        {%- endfor %}
        {#- 0 to 99 repetitions: #}
        {%- for i in range(0, 0) %}
        <PreviousDocument>
            <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
            <type>{{ type }}</type>
            <referenceNumber>{{ referenceNumber }}</referenceNumber>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <complementOfInformation>{{ complementOfInformation }}</complementOfInformation>
            {%- endfor %}
        </PreviousDocument>
        {%- endfor %}
        {#- 0 to 99 repetitions: #}
        {%- for i in range(0, 0) %}
        <SupportingDocument>
              <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
              <type>{{ type }}</type>
              <referenceNumber>{{ referenceNumber }}</referenceNumber>
              {#- Optional: #}
              {%- for i in range(0, 0) %}
              <documentLineItemNumber>{{ documentLineItemNumber }}</documentLineItemNumber>
              {%- endfor %}
              {#- Optional: #}
              {%- for i in range(0, 0) %}
              <complementOfInformation>{{ complementOfInformation }}</complementOfInformation>
              {%- endfor %}
        </SupportingDocument>
        {%- endfor %}
        {#- 0 to 99 repetitions: #}
        {%- for i in range(0, 0) %}
        <TransportDocument>
            <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
            <type>{{ type }}</type>
            <referenceNumber>{{ referenceNumber }}</referenceNumber>
        </TransportDocument>
        {%- endfor %}
        {#- 0 to 99 repetitions: #}
        {%- for i in range(0, 0) %}
        <AdditionalReference>
            <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
            <type>{{ type }}</type>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <referenceNumber>{{ referenceNumber }}</referenceNumber>
            {%- endfor %}
        </AdditionalReference>
        {%- endfor %}
        {#- 0 to 99 repetitions: #}
        {%- for i in range(0, 0) %}
        <AdditionalInformation>
            <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
            <code>{{ code }}</code>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <text>{{ text }}</text>
            {%- endfor %}
        </AdditionalInformation>
        {%- endfor %}
        {#- Optional: #}
        {%- for i in range(0, 0) %}
        <TransportCharges>
            <methodOfPayment>{{ methodOfPayment }}</methodOfPayment>
        </TransportCharges>
        {%- endfor %}
        {#- 1 to 999 repetitions: #}
        {%- for i in range(0, 1) %}
        <ConsignmentItem>
            <goodsItemNumber>{{ goodsItemNumber }}</goodsItemNumber>
            <declarationGoodsItemNumber>{{ declarationGoodsItemNumber }}</declarationGoodsItemNumber>
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <declarationType>{{ declarationType }}</declarationType>
            {%- endfor %}
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <countryOfDispatch>{{ countryOfDispatch }}</countryOfDispatch>
            {%- endfor %}
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <countryOfDestination>{{ countryOfDestination }}</countryOfDestination>
            {%- endfor %}
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <referenceNumberUCR>{{ referenceNumberUCR }}</referenceNumberUCR>
            {%- endfor %}
            {#- Optional: #}
            {%- for i in range(0, 0) %}
            <Consignee>
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <identificationNumber>{{ identificationNumber }}</identificationNumber>
                {%- endfor %}
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <name>{{ name }}</name>
                {%- endfor %}
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <Address>
                    <streetAndNumber>{{ streetAndNumber }}</streetAndNumber>
                    {#- Optional: #}
                    {%- for i in range(0, 0) %}
                    <postcode>{{ postcode }}</postcode>
                    {%- endfor %}
                    <city>{{ city }}</city>
                    <country>{{ country }}</country>
                </Address>
                {%- endfor %}
            </Consignee>
            {%- endfor %}
            {#- 0 to 99 repetitions: #}
            {%- for i in range(0, 0) %}
            <AdditionalSupplyChainActor>
                <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
                <role>{{ role }}</role>
                <identificationNumber>{{ identificationNumber }}</identificationNumber>
            </AdditionalSupplyChainActor>
            {%- endfor %}
            <Commodity>
              <descriptionOfGoods>{{ descriptionOfGoods }}</descriptionOfGoods>
              {#- Optional: #}
              {%- for i in range(0, 0) %}
              <cusCode>{{ cusCode }}</cusCode>
              {%- endfor %}
              {#- Optional: #}
              {%- for i in range(0, 0) %}
              <CommodityCode>{{ CommodityCode }}</CommodityCode>
              {%- endfor %}
              {#- 0 to 99 repetitions: #}
              {%- for i in range(0, 0) %}
              <DangerousGoods>{{ DangerousGoods }}</DangerousGoods>
              {%- endfor %}
              {#- Optional: #}
              {%- for i in range(0, 0) %}
              <GoodsMeasure>{{ GoodsMeasure }}</GoodsMeasure>
              {%- endfor %}
            </Commodity>
            {#- 1 to 99 repetitions: #}
            {%- for i in range(0, 1) %}
            <Packaging>
                <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
                <typeOfPackages>{{ typeOfPackages }}</typeOfPackages>
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <numberOfPackages>{{ numberOfPackages }}</numberOfPackages>
                {%- endfor %}
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <shippingMarks>{{ shippingMarks }}</shippingMarks>
                {%- endfor %}
            </Packaging>
            {%- endfor %}
            {#- 0 to 99 repetitions: #}
            {%- for i in range(0, 0) %}
            <PreviousDocument>
                <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
                <type>{{ type }}</type>
                <referenceNumber>{{ referenceNumber }}</referenceNumber>
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <goodsItemNumber>{{ goodsItemNumber }}</goodsItemNumber>
                {%- endfor %}
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <typeOfPackages>{{ typeOfPackages }}</typeOfPackages>
                {%- endfor %}
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <numberOfPackages>{{ numberOfPackages }}</numberOfPackages>
                {%- endfor %}
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <measurementUnitAndQualifier>{{ measurementUnitAndQualifier }}</measurementUnitAndQualifier>
                {%- endfor %}
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <quantity>{{ quantity }}</quantity>
                {%- endfor %}
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <complementOfInformation>{{ complementOfInformation }}</complementOfInformation>
                {%- endfor %}
            </PreviousDocument>
            {%- endfor %}
            {#- 0 to 99 repetitions: #}
            {%- for i in range(0, 0) %}
            <SupportingDocument>
                 <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
                 <type>{{ type }}</type>
                 <referenceNumber>{{ referenceNumber }}</referenceNumber>
                 {#- Optional: #}
                 {%- for i in range(0, 0) %}
                 <documentLineItemNumber>{{ documentLineItemNumber }}</documentLineItemNumber>
                 {%- endfor %}
                 {#- Optional: #}
                 {%- for i in range(0, 0) %}
                 <complementOfInformation>{{ complementOfInformation }}</complementOfInformation>
                 {%- endfor %}
            </SupportingDocument>
            {%- endfor %}
             {#- 0 to 99 repetitions: #}
             {%- for i in range(0, 0) %}
             <TransportDocument>
                <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
                <type>{{ type }}</type>
                <referenceNumber>{{ referenceNumber }}</referenceNumber>
             </TransportDocument>
             {%- endfor %}
             {#- 0 to 99 repetitions: #}
             {%- for i in range(0, 0) %}
             <AdditionalReference>
                <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
                <type>{{ type }}</type>
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <referenceNumber>{{ referenceNumber }}</referenceNumber>
                {%- endfor %}
             </AdditionalReference>
             {%- endfor %}
             {#- 0 to 99 repetitions: #}
             {%- for i in range(0, 0) %}
             <AdditionalInformation>
                <sequenceNumber>{{ sequenceNumber }}</sequenceNumber>
                <code>{{ code }}</code>
                {#- Optional: #}
                {%- for i in range(0, 0) %}
                <text>{{ text }}</text>
                {%- endfor %}
             </AdditionalInformation>
             {%- endfor %}
             {#- Optional: #}
             {%- for i in range(0, 0) %}
             <TransportCharges>
                <methodOfPayment>{{ methodOfPayment }}</methodOfPayment>
             </TransportCharges>
             {%- endfor %}
        </ConsignmentItem>
        {%- endfor %}
    </HouseConsignment>
    {%- endfor %}
  </Consignment>
</ncts:CC013C>
