<CC015B>
  <SynIdeMES1>{{ SynIdeMES1 }}</SynIdeMES1>
  <SynVerNumMES2>{{ SynVerNumMES2 }}</SynVerNumMES2>
  <!--<MesSenMES3>{{ MesSenMES3 }}</MesSenMES3>-->
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <SenIdeCodQuaMES4>{{ SenIdeCodQuaMES4 }}</SenIdeCodQuaMES4>
  {%- endfor %}
  <MesRecMES6>{{ MesRecMES6 }}</MesRecMES6>
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <RecIdeCodQuaMES7>{{ RecIdeCodQuaMES7 }}</RecIdeCodQuaMES7>
  {%- endfor %}
  <DatOfPreMES9>{{ DatOfPreMES9 }}</DatOfPreMES9>
  <TimOfPreMES10>{{ TimOfPreMES10 }}</TimOfPreMES10>
  <IntConRefMES11>{{ IntConRefMES11 }}</IntConRefMES11>
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <RecRefMES12>{{ RecRefMES12 }}</RecRefMES12>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <RecRefQuaMES13>{{ RecRefQuaMES13 }}</RecRefQuaMES13>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <AppRefMES14>{{ AppRefMES14 }}</AppRefMES14>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <PriMES15>{{ PriMES15 }}</PriMES15>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <AckReqMES16>{{ AckReqMES16 }}</AckReqMES16>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <ComAgrIdMES17>{{ ComAgrIdMES17 }}</ComAgrIdMES17>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <TesIndMES18>{{ TesIndMES18 }}</TesIndMES18>
  {%- endfor %}
  <MesIdeMES19>{{ MesIdeMES19 }}</MesIdeMES19>
  <MesTypMES20>{{ MesTypMES20 }}</MesTypMES20>
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <ComAccRefMES21>{{ ComAccRefMES21 }}</ComAccRefMES21>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <MesSeqNumMES22>{{ MesSeqNumMES22 }}</MesSeqNumMES22>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <FirAndLasTraMES23>{{ FirAndLasTraMES23 }}</FirAndLasTraMES23>
  {%- endfor %}
  <HEAHEA>
    <RefNumHEA4>{{ RefNumHEA4 }}</RefNumHEA4>
    <TypOfDecHEA24>{{ TypOfDecHEA24 }}</TypOfDecHEA24>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CouOfDesCodHEA30>{{ CouOfDesCodHEA30 }}</CouOfDesCodHEA30>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <AgrLocOfGooCodHEA38>{{ AgrLocOfGooCodHEA38 }}</AgrLocOfGooCodHEA38>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <AgrLocOfGooHEA39>{{ AgrLocOfGooHEA39 }}</AgrLocOfGooHEA39>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <AgrLocOfGooHEA39LNG>{{ AgrLocOfGooHEA39LNG }}</AgrLocOfGooHEA39LNG>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <AutLocOfGooCodHEA41>{{ AutLocOfGooCodHEA41 }}</AutLocOfGooCodHEA41>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <PlaOfLoaCodHEA46>{{ PlaOfLoaCodHEA46 }}</PlaOfLoaCodHEA46>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CouOfDisCodHEA55>{{ CouOfDisCodHEA55 }}</CouOfDisCodHEA55>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CusSubPlaHEA66>{{ CusSubPlaHEA66 }}</CusSubPlaHEA66>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <InlTraModHEA75>{{ InlTraModHEA75 }}</InlTraModHEA75>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TraModAtBorHEA76>{{ TraModAtBorHEA76 }}</TraModAtBorHEA76>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <IdeOfMeaOfTraAtDHEA78>{{ IdeOfMeaOfTraAtDHEA78 }}</IdeOfMeaOfTraAtDHEA78>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <IdeOfMeaOfTraAtDHEA78LNG>{{ IdeOfMeaOfTraAtDHEA78LNG }}</IdeOfMeaOfTraAtDHEA78LNG>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NatOfMeaOfTraAtDHEA80>{{ NatOfMeaOfTraAtDHEA80 }}</NatOfMeaOfTraAtDHEA80>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <IdeOfMeaOfTraCroHEA85>{{ IdeOfMeaOfTraCroHEA85 }}</IdeOfMeaOfTraCroHEA85>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <IdeOfMeaOfTraCroHEA85LNG>{{ IdeOfMeaOfTraCroHEA85LNG }}</IdeOfMeaOfTraCroHEA85LNG>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NatOfMeaOfTraCroHEA87>{{ NatOfMeaOfTraCroHEA87 }}</NatOfMeaOfTraCroHEA87>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TypOfMeaOfTraCroHEA88>{{ TypOfMeaOfTraCroHEA88 }}</TypOfMeaOfTraCroHEA88>
    {%- endfor %}
    <ConIndHEA96>{{ ConIndHEA96 }}</ConIndHEA96>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <DiaLanIndAtDepHEA254>{{ DiaLanIndAtDepHEA254 }}</DiaLanIndAtDepHEA254>
    {%- endfor %}
    <NCTSAccDocHEA601LNG>{{ NCTSAccDocHEA601LNG }}</NCTSAccDocHEA601LNG>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NumOfLoaLisHEA304>{{ NumOfLoaLisHEA304 }}</NumOfLoaLisHEA304>
    {%- endfor %}
    <TotNumOfIteHEA305>{{ TotNumOfIteHEA305 }}</TotNumOfIteHEA305>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TotNumOfPacHEA306>{{ TotNumOfPacHEA306 }}</TotNumOfPacHEA306>
    {%- endfor %}
    <TotGroMasHEA307>{{ TotGroMasHEA307 }}</TotGroMasHEA307>
    <DecDatHEA383>{{ DecDatHEA383 }}</DecDatHEA383>
    <DecPlaHEA394>{{ DecPlaHEA394 }}</DecPlaHEA394>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <DecPlaHEA394LNG>{{ DecPlaHEA394LNG }}</DecPlaHEA394LNG>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <SpeCirIndHEA1>{{ SpeCirIndHEA1 }}</SpeCirIndHEA1>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TraChaMetOfPayHEA1>{{ TraChaMetOfPayHEA1 }}</TraChaMetOfPayHEA1>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <ComRefNumHEA>{{ ComRefNumHEA }}</ComRefNumHEA>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <SecHEA358>{{ SecHEA358 }}</SecHEA358>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <ConRefNumHEA>{{ ConRefNumHEA }}</ConRefNumHEA>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CodPlUnHEA357>{{ CodPlUnHEA357 }}</CodPlUnHEA357>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CodPlUnHEA357LNG>{{ CodPlUnHEA357LNG }}</CodPlUnHEA357LNG>
    {%- endfor %}
  </HEAHEA>
  <TRAPRIPC1>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NamPC17>{{ NamPC17 }}</NamPC17>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <StrAndNumPC122>{{ StrAndNumPC122 }}</StrAndNumPC122>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <PosCodPC123>{{ PosCodPC123 }}</PosCodPC123>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CitPC124>{{ CitPC124 }}</CitPC124>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CouPC125>{{ CouPC125 }}</CouPC125>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NADLNGPC>{{ NADLNGPC }}</NADLNGPC>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TINPC159>{{ TINPC159 }}</TINPC159>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <HITPC126>{{ HITPC126 }}</HITPC126>
    {%- endfor %}
  </TRAPRIPC1>
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <TRACONCO1>
    <NamCO17>{{ NamCO17 }}</NamCO17>
    <StrAndNumCO122>{{ StrAndNumCO122 }}</StrAndNumCO122>
    <PosCodCO123>{{ PosCodCO123 }}</PosCodCO123>
    <CitCO124>{{ CitCO124 }}</CitCO124>
    <CouCO125>{{ CouCO125 }}</CouCO125>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TRACONCO1LNG>{{ TRACONCO1LNG }}</TRACONCO1LNG>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TINCO159>{{ TINCO159 }}</TINCO159>
    {%- endfor %}
  </TRACONCO1>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <TRACONCE1>
    <NamCE17>{{ NamCE17 }}</NamCE17>
    <StrAndNumCE122>{{ StrAndNumCE122 }}</StrAndNumCE122>
    <PosCodCE123>{{ PosCodCE123 }}</PosCodCE123>
    <CitCE124>{{ CitCE124 }}</CitCE124>
    <CouCE125>{{ CouCE125 }}</CouCE125>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NADLNGCE>{{ NADLNGCE }}</NADLNGCE>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TINCE159>{{ TINCE159 }}</TINCE159>
    {%- endfor %}
  </TRACONCE1>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <TRAAUTCONTRA>
    <TINTRA59>{{ TINTRA59 }}</TINTRA59>
  </TRAAUTCONTRA>
  {%- endfor %}
  <CUSOFFDEPEPT>
    <RefNumEPT1>GB{{ RefNumEPT1 }}</RefNumEPT1>
  </CUSOFFDEPEPT>
  {#- 0 to 9 repetitions: #}
  {%- for i in range(0, 0) %}
  <CUSOFFTRARNS>
    <RefNumRNS1>{{ RefNumRNS1 }}</RefNumRNS1>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <ArrTimTRACUS085>{{ ArrTimTRACUS085 }}</ArrTimTRACUS085>
    {%- endfor %}
  </CUSOFFTRARNS>
  {%- endfor %}
  <CUSOFFDESEST>
    <RefNumEST1>{{ RefNumEST1 }}</RefNumEST1>
  </CUSOFFDESEST>
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <CONRESERS>
    <ConResCodERS16>{{ ConResCodERS16 }}</ConResCodERS16>
    <DatLimERS69>{{ DatLimERS69 }}</DatLimERS69>
  </CONRESERS>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <REPREP>
    <NamREP5>{{ NamREP5 }}</NamREP5>
    {#- Optional: #}
    <RepCapREP18>{{ RepCapREP18 }}</RepCapREP18>
    {#- Optional: #}
    <RepCapREP18LNG>{{ RepCapREP18LNG }}</RepCapREP18LNG>
  </REPREP>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <SEAINFSLI>
    <SeaNumSLI2>{{ SeaNumSLI2 }}</SeaNumSLI2>
    {#- 1 to 9999 repetitions: #}
    {%- for i in range(0, 1) %}
    <SEAIDSID>
      <SeaIdeSID1>{{ SeaIdeSID1 }}</SeaIdeSID1>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <SeaIdeSID1LNG>{{ SeaIdeSID1LNG }}</SeaIdeSID1LNG>
      {%- endfor %}
    </SEAIDSID>
    {%- endfor %}
  </SEAINFSLI>
  {%- endfor %}
  {#- 1 to 9 repetitions: #}
  {%- for i in range(0, 1) %}
  <GUAGUA>
    <GuaTypGUA1>1</GuaTypGUA1>
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 1) %}
    <GUAREFREF>
      {#- Optional: #}
      {%- for i in range(0, 1) %}
      <GuaRefNumGRNREF1>{{ GuaRefNumGRNREF1 }}</GuaRefNumGRNREF1>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 1) %}
      <OthGuaRefREF4>{{ OthGuaRefREF4 }}</OthGuaRefREF4>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <AccCodREF6>{{ AccCodREF6 }}</AccCodREF6>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <VALLIMECVLE>
        <NotValForECVLE1>{{ NotValForECVLE1 }}</NotValForECVLE1>
      </VALLIMECVLE>
      {%- endfor %}
      {#- 0 to 99 repetitions: #}
      {%- for i in range(0, 0) %}
      <VALLIMNONECLIM>
        <NotValForOthConPLIM2>{{ NotValForOthConPLIM2 }}</NotValForOthConPLIM2>
      </VALLIMNONECLIM>
      {%- endfor %}
    </GUAREFREF>
    {%- endfor %}
  </GUAGUA>
  {%- endfor %}
  {#- 1 to 999 repetitions: #}
  {%- for i in range(0, 999) %}
  <GOOITEGDS>
    <IteNumGDS7>{{ IteNumGDS7 }}</IteNumGDS7>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <ComCodTarCodGDS10>{{ ComCodTarCodGDS10 }}</ComCodTarCodGDS10>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <DecTypGDS15>{{ DecTypGDS15 }}</DecTypGDS15>
    {%- endfor %}
    <GooDesGDS23>{{ GooDesGDS23 }}</GooDesGDS23>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <GooDesGDS23LNG>{{ GooDesGDS23LNG }}</GooDesGDS23LNG>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <GroMasGDS46>{{ GroMasGDS46 }}</GroMasGDS46>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NetMasGDS48>{{ NetMasGDS48 }}</NetMasGDS48>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CouOfDisGDS58>{{ CouOfDisGDS58 }}</CouOfDisGDS58>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CouOfDesGDS59>{{ CouOfDesGDS59 }}</CouOfDesGDS59>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <MetOfPayGDI12>{{ MetOfPayGDI12 }}</MetOfPayGDI12>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <ComRefNumGIM1>{{ ComRefNumGIM1 }}</ComRefNumGIM1>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <UNDanGooCodGDI1>{{ UNDanGooCodGDI1 }}</UNDanGooCodGDI1>
    {%- endfor %}
    {#- 0 to 9 repetitions: #}
    {%- for i in range(0, 0) %}
    <PREADMREFAR2>
      <PreDocTypAR21>{{ PreDocTypAR21 }}</PreDocTypAR21>
      <PreDocRefAR26>{{ PreDocRefAR26 }}</PreDocRefAR26>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <PreDocRefLNG>{{ PreDocRefLNG }}</PreDocRefLNG>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <ComOfInfAR29>{{ ComOfInfAR29 }}</ComOfInfAR29>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <ComOfInfAR29LNG>{{ ComOfInfAR29LNG }}</ComOfInfAR29LNG>
      {%- endfor %}
    </PREADMREFAR2>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 2) %}
    <PRODOCDC2>
      <DocTypDC21>{{ DocTypDC21 }}</DocTypDC21>
      {#- Optional: #}
      {%- for i in range(0, 1) %}
      <DocRefDC23>{{ DocRefDC23 }}</DocRefDC23>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 1) %}
      <DocRefDCLNG>{{ DocRefDCLNG }}</DocRefDCLNG>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 1) %}
      <ComOfInfDC25>{{ ComOfInfDC25 }}</ComOfInfDC25>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 1) %}
      <ComOfInfDC25LNG>{{ ComOfInfDC25LNG }}</ComOfInfDC25LNG>
      {%- endfor %}
    </PRODOCDC2>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 5) %}
    <SPEMENMT2>
      {#- Optional: #}
      {%- for i in range(0, 1) %}
      <AddInfMT21>{{ AddInfMT21 }}</AddInfMT21>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 1) %}
      <AddInfMT21LNG>EN</AddInfMT21LNG>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 1) %}
      <AddInfCodMT23>{{ AddInfCodMT23 }}</AddInfCodMT23>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 1) %}
      <ExpFroECMT24>{{ ExpFroECMT24 }}</ExpFroECMT24>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 1) %}
      <ExpFroCouMT25>{{ ExpFroCouMT25 }}</ExpFroCouMT25>
      {%- endfor %}
    </SPEMENMT2>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TRACONCO2>
      <NamCO27>{{ NamCO27 }}</NamCO27>
      <StrAndNumCO222>{{ StrAndNumCO222 }}</StrAndNumCO222>
      <PosCodCO223>{{ PosCodCO223 }}</PosCodCO223>
      <CitCO224>{{ CitCO224 }}</CitCO224>
      <CouCO225>{{ CouCO225 }}</CouCO225>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <NADLNGGTCO>{{ NADLNGGTCO }}</NADLNGGTCO>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <TINCO259>{{ TINCO259 }}</TINCO259>
      {%- endfor %}
    </TRACONCO2>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TRACONCE2>
      <NamCE27>{{ NamCE27 }}</NamCE27>
      <StrAndNumCE222>{{ StrAndNumCE222 }}</StrAndNumCE222>
      <PosCodCE223>{{ PosCodCE223 }}</PosCodCE223>
      <CitCE224>{{ CitCE224 }}</CitCE224>
      <CouCE225>{{ CouCE225 }}</CouCE225>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <NADLNGGICE>{{ NADLNGGICE }}</NADLNGGICE>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <TINCE259>{{ TINCE259 }}</TINCE259>
      {%- endfor %}
    </TRACONCE2>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 0) %}
    <CONNR2>
      <ConNumNR21>{{ ConNumNR21 }}</ConNumNR21>
    </CONNR2>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 0) %}
    <PACGS2>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <MarNumOfPacGS21>{{ MarNumOfPacGS21 }}</MarNumOfPacGS21>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <MarNumOfPacGS21LNG>{{ MarNumOfPacGS21LNG }}</MarNumOfPacGS21LNG>
      {%- endfor %}
      <KinOfPacGS23>{{ KinOfPacGS23 }}</KinOfPacGS23>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <NumOfPacGS24>{{ NumOfPacGS24 }}</NumOfPacGS24>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <NumOfPieGS25>{{ NumOfPieGS25 }}</NumOfPieGS25>
      {%- endfor %}
    </PACGS2>
    {%- endfor %}
    {#- 0 to 9 repetitions: #}
    {%- for i in range(0, 0) %}
    <SGICODSD2>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <SenGooCodSD22>{{ SenGooCodSD22 }}</SenGooCodSD22>
      {%- endfor %}
      <SenQuaSD23>{{ SenQuaSD23 }}</SenQuaSD23>
    </SGICODSD2>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TRACORSECGOO021>
      {#- Optional: #}
      <NamTRACORSECGOO025>{{ NamTRACORSECGOO025 }}</NamTRACORSECGOO025>
      {#- Optional: #}
      <StrNumTRACORSECGOO027>{{ StrNumTRACORSECGOO027 }}</StrNumTRACORSECGOO027>
      {#- Optional: #}
      <PosCodTRACORSECGOO026>{{ PosCodTRACORSECGOO026 }}</PosCodTRACORSECGOO026>
      {#- Optional: #}
      <CitTRACORSECGOO022>{{ CitTRACORSECGOO022 }}</CitTRACORSECGOO022>
      {#- Optional: #}
      <CouCodTRACORSECGOO023>{{ CouCodTRACORSECGOO023 }}</CouCodTRACORSECGOO023>
      {#- Optional: #}
      <TRACORSECGOO021LNG>{{ TRACORSECGOO021LNG }}</TRACORSECGOO021LNG>
      {#- Optional: #}
      <TINTRACORSECGOO028>{{ TINTRACORSECGOO028 }}</TINTRACORSECGOO028>
    </TRACORSECGOO021>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TRACONSECGOO013>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <NamTRACONSECGOO017>{{ NamTRACONSECGOO017 }}</NamTRACONSECGOO017>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <StrNumTRACONSECGOO019>{{ StrNumTRACONSECGOO019 }}</StrNumTRACONSECGOO019>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <PosCodTRACONSECGOO018>{{ PosCodTRACONSECGOO018 }}</PosCodTRACONSECGOO018>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <CityTRACONSECGOO014>{{ CityTRACONSECGOO014 }}</CityTRACONSECGOO014>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <CouCodTRACONSECGOO015>{{ CouCodTRACONSECGOO015 }}</CouCodTRACONSECGOO015>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <TRACONSECGOO013LNG>{{ TRACONSECGOO013LNG }}</TRACONSECGOO013LNG>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <TINTRACONSECGOO020>{{ TINTRACONSECGOO020 }}</TINTRACONSECGOO020>
      {%- endfor %}
    </TRACONSECGOO013>
    {%- endfor %}
  </GOOITEGDS>
  {%- endfor %}
  {#- 0 to 99 repetitions: #}
  {%- for i in range(0, 0) %}
  <ITI>
    <CouOfRouCodITI1>{{ CouOfRouCodITI1 }}</CouOfRouCodITI1>
  </ITI>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <CARTRA100>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NamCARTRA121>{{ NamCARTRA121 }}</NamCARTRA121>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <StrAndNumCARTRA254>{{ StrAndNumCARTRA254 }}</StrAndNumCARTRA254>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <PosCodCARTRA121>{{ PosCodCARTRA121 }}</PosCodCARTRA121>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CitCARTRA789>{{ CitCARTRA789 }}</CitCARTRA789>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CouCodCARTRA587>{{ CouCodCARTRA587 }}</CouCodCARTRA587>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NADCARTRA121>{{ NADCARTRA121 }}</NADCARTRA121>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TINCARTRA254>{{ TINCARTRA254 }}</TINCARTRA254>
    {%- endfor %}
  </CARTRA100>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <TRACORSEC037>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NamTRACORSEC041>{{ NamTRACORSEC041 }}</NamTRACORSEC041>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <StrNumTRACORSEC043>{{ StrNumTRACORSEC043 }}</StrNumTRACORSEC043>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <PosCodTRACORSEC042>{{ PosCodTRACORSEC042 }}</PosCodTRACORSEC042>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CitTRACORSEC038>{{ CitTRACORSEC038 }}</CitTRACORSEC038>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CouCodTRACORSEC039>{{ CouCodTRACORSEC039 }}</CouCodTRACORSEC039>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TRACORSEC037LNG>{{ TRACORSEC037LNG }}</TRACORSEC037LNG>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TINTRACORSEC044>{{ TINTRACORSEC044 }}</TINTRACORSEC044>
    {%- endfor %}
  </TRACORSEC037>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <TRACONSEC029>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NameTRACONSEC033>{{ NameTRACONSEC033 }}</NameTRACONSEC033>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <StrNumTRACONSEC035>{{ StrNumTRACONSEC035 }}</StrNumTRACONSEC035>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <PosCodTRACONSEC034>{{ PosCodTRACONSEC034 }}</PosCodTRACONSEC034>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CitTRACONSEC030>{{ CitTRACONSEC030 }}</CitTRACONSEC030>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CouCodTRACONSEC031>{{ CouCodTRACONSEC031 }}</CouCodTRACONSEC031>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TRACONSEC029LNG>{{ TRACONSEC029LNG }}</TRACONSEC029LNG>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TINTRACONSEC036>{{ TINTRACONSEC036 }}</TINTRACONSEC036>
    {%- endfor %}
  </TRACONSEC029>
  {%- endfor %}
</CC015B>
