<CC044A>
  <SynIdeMES1>{{ SynIdeMES1 }}</SynIdeMES1>
  <SynVerNumMES2>{{ SynVerNumMES2 }}</SynVerNumMES2>
  <!--<MesSenMES3>{{ MesSenMES3 }}</MesSenMES3>-->
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <SenIdeCodQuaMES4>{{ SenIdeCodQuaMES4 }}</SenIdeCodQuaMES4>
  {%- endfor %}
  <MesRecMES6>{{ MesRecMES6 }}</MesRecMES6>
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <RecIdeCodQuaMES7>{{ RecIdeCodQuaMES7 }}</RecIdeCodQuaMES7>
  {%- endfor %}
  <DatOfPreMES9>{{ DatOfPreMES9 }}</DatOfPreMES9>
  <TimOfPreMES10>{{ TimOfPreMES10 }}</TimOfPreMES10>
  <IntConRefMES11>{{ IntConRefMES11 }}</IntConRefMES11>
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <RecRefMES12>{{ RecRefMES12 }}</RecRefMES12>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <RecRefQuaMES13>{{ RecRefQuaMES13 }}</RecRefQuaMES13>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <AppRefMES14>{{ AppRefMES14 }}</AppRefMES14>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <PriMES15>{{ PriMES15 }}</PriMES15>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <AckReqMES16>{{ AckReqMES16 }}</AckReqMES16>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <ComAgrIdMES17>{{ ComAgrIdMES17 }}</ComAgrIdMES17>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <TesIndMES18>{{ TesIndMES18 }}</TesIndMES18>
  {%- endfor %}
  <MesIdeMES19>{{ MesIdeMES19 }}</MesIdeMES19>
  <MesTypMES20>{{ MesTypMES20 }}</MesTypMES20>
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <ComAccRefMES21>{{ ComAccRefMES21 }}</ComAccRefMES21>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <MesSeqNumMES22>{{ MesSeqNumMES22 }}</MesSeqNumMES22>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <FirAndLasTraMES23>{{ FirAndLasTraMES23 }}</FirAndLasTraMES23>
  {%- endfor %}
  <HEAHEA>
    <DocNumHEA5>{{ DocNumHEA5 }}</DocNumHEA5>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <IdeOfMeaOfTraAtDHEA78>{{ IdeOfMeaOfTraAtDHEA78 }}</IdeOfMeaOfTraAtDHEA78>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <IdeOfMeaOfTraAtDHEA78LNG>{{ IdeOfMeaOfTraAtDHEA78LNG }}</IdeOfMeaOfTraAtDHEA78LNG>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NatOfMeaOfTraAtDHEA80>{{ NatOfMeaOfTraAtDHEA80 }}</NatOfMeaOfTraAtDHEA80>
    {%- endfor %}
    <TotNumOfIteHEA305>{{ TotNumOfIteHEA305 }}</TotNumOfIteHEA305>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TotNumOfPacHEA306>{{ TotNumOfPacHEA306 }}</TotNumOfPacHEA306>
    {%- endfor %}
    <TotGroMasHEA307>{{ TotGroMasHEA307 }}</TotGroMasHEA307>
  </HEAHEA>
  <TRADESTRD>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NamTRD7>{{ NamTRD7 }}</NamTRD7>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <StrAndNumTRD22>{{ StrAndNumTRD22 }}</StrAndNumTRD22>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <PosCodTRD23>{{ PosCodTRD23 }}</PosCodTRD23>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CitTRD24>{{ CitTRD24 }}</CitTRD24>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CouTRD25>{{ CouTRD25 }}</CouTRD25>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NADLNGRD>{{ NADLNGRD }}</NADLNGRD>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <TINTRD59>{{ TINTRD59 }}</TINTRD59>
    {%- endfor %}
  </TRADESTRD>
  <CUSOFFPREOFFRES>
    <RefNumRES1>{{ RefNumRES1 }}</RefNumRES1>
  </CUSOFFPREOFFRES>
  <UNLREMREM>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <StaOfTheSeaOKREM19>{{ StaOfTheSeaOKREM19 }}</StaOfTheSeaOKREM19>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <UnlRemREM53>{{ UnlRemREM53 }}</UnlRemREM53>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <UnlRemREM53LNG>{{ UnlRemREM53LNG }}</UnlRemREM53LNG>
    {%- endfor %}
    <ConREM65>{{ ConREM65 }}</ConREM65>
    <UnlComREM66>{{ UnlComREM66 }}</UnlComREM66>
    <UnlDatREM67>{{ UnlDatREM67 }}</UnlDatREM67>
  </UNLREMREM>
  {#- 0 to 9 repetitions: #}
  {%- for i in range(0, 0) %}
  <RESOFCON534>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <DesTOC2>{{ DesTOC2 }}</DesTOC2>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <DesTOC2LNG>{{ DesTOC2LNG }}</DesTOC2LNG>
    {%- endfor %}
    <ConInd424>{{ ConInd424 }}</ConInd424>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <PoiToTheAttTOC5>{{ PoiToTheAttTOC5 }}</PoiToTheAttTOC5>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <CorValTOC4>{{ CorValTOC4 }}</CorValTOC4>
    {%- endfor %}
  </RESOFCON534>
  {%- endfor %}
  {#- Optional: #}
  {%- for i in range(0, 0) %}
  <SEAINFSLI>
    <SeaNumSLI2>{{ SeaNumSLI2 }}</SeaNumSLI2>
    {#- 0 to 9999 repetitions: #}
    {%- for i in range(0, 0) %}
    <SEAIDSID>
      <SeaIdeSID1>{{ SeaIdeSID1 }}</SeaIdeSID1>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <SeaIdeSID1LNG>{{ SeaIdeSID1LNG }}</SeaIdeSID1LNG>
      {%- endfor %}
    </SEAIDSID>
    {%- endfor %}
  </SEAINFSLI>
  {%- endfor %}
  {#- 0 to 9999 repetitions: #}
  {%- for i in range(0, 285) %}
  <GOOITEGDS>
    <IteNumGDS7>{{ IteNumGDS7 }}</IteNumGDS7>
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <ComCodTarCodGDS10>{{ ComCodTarCodGDS10 }}</ComCodTarCodGDS10>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <GooDesGDS23>{{ GooDesGDS23 }}</GooDesGDS23>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <GooDesGDS23LNG>{{ GooDesGDS23LNG }}</GooDesGDS23LNG>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <GroMasGDS46>{{ GroMasGDS46 }}</GroMasGDS46>
    {%- endfor %}
    {#- Optional: #}
    {%- for i in range(0, 0) %}
    <NetMasGDS48>{{ NetMasGDS48 }}</NetMasGDS48>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 0) %}
    <PRODOCDC2>
      <DocTypDC21>{{ DocTypDC21 }}</DocTypDC21>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <DocRefDC23>{{ DocRefDC23 }}</DocRefDC23>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <DocRefDCLNG>{{ DocRefDCLNG }}</DocRefDCLNG>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <ComOfInfDC25>{{ ComOfInfDC25 }}</ComOfInfDC25>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <ComOfInfDC25LNG>{{ ComOfInfDC25LNG }}</ComOfInfDC25LNG>
      {%- endfor %}
    </PRODOCDC2>
    {%- endfor %}
    {#- 0 to 199 repetitions: #}
    {%- for i in range(0, 199) %}
    <RESOFCONROC>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <DesROC2>{{ DesROC2 }}</DesROC2>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <DesROC2LNG>{{ DesROC2LNG }}</DesROC2LNG>
      {%- endfor %}
      <ConIndROC1>{{ ConIndROC1 }}</ConIndROC1>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <PoiToTheAttROC51>{{ PoiToTheAttROC51 }}</PoiToTheAttROC51>
      {%- endfor %}
    </RESOFCONROC>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 0) %}
    <CONNR2>
      <ConNumNR21>{{ ConNumNR21 }}</ConNumNR21>
    </CONNR2>
    {%- endfor %}
    {#- 0 to 99 repetitions: #}
    {%- for i in range(0, 0) %}
    <PACGS2>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <MarNumOfPacGS21>{{ MarNumOfPacGS21 }}</MarNumOfPacGS21>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <MarNumOfPacGS21LNG>{{ MarNumOfPacGS21LNG }}</MarNumOfPacGS21LNG>
      {%- endfor %}
      <KinOfPacGS23>{{ KinOfPacGS23 }}</KinOfPacGS23>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <NumOfPacGS24>{{ NumOfPacGS24 }}</NumOfPacGS24>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <NumOfPieGS25>{{ NumOfPieGS25 }}</NumOfPieGS25>
      {%- endfor %}
    </PACGS2>
    {%- endfor %}
    {#- 0 to 9 repetitions: #}
    {%- for i in range(0, 0) %}
    <SGICODSD2>
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <SenGooCodSD22>{{ SenGooCodSD22 }}</SenGooCodSD22>
      {%- endfor %}
      {#- Optional: #}
      {%- for i in range(0, 0) %}
      <SenQuaSD23>{{ SenQuaSD23 }}</SenQuaSD23>
      {%- endfor %}
    </SGICODSD2>
    {%- endfor %}
  </GOOITEGDS>
  {%- endfor %}
</CC044A>
