<ncts:CC044C PhaseID="NCTS5.0" xmlns:ncts="http://ncts.dgtaxud.ec">
  <messageSender>token</messageSender>
  <messageRecipient>token</messageRecipient>
  <preparationDateAndTime>2007-10-26T07:36:28</preparationDateAndTime>
  <messageIdentification>token</messageIdentification>
  <messageType>CD975C</messageType>
  {#- Optional: #}
  <correlationIdentifier>token</correlationIdentifier>
  <TransitOperation>
    <MRN>token</MRN>
    {#- Optional: #}
    <otherThingsToReport>token</otherThingsToReport>
  </TransitOperation>
  <CustomsOfficeOfDestinationActual>
    <referenceNumber>tokentok</referenceNumber>
  </CustomsOfficeOfDestinationActual>
  <TraderAtDestination>
    <identificationNumber>token</identificationNumber>
  </TraderAtDestination>
  <UnloadingRemark>
    <conform>0</conform>
    <unloadingCompletion>0</unloadingCompletion>
    <unloadingDate>2018-11-01+00:00</unloadingDate>
    {#- Optional: #}
    <stateOfSeals>0</stateOfSeals>
    {#- Optional: #}
    <unloadingRemark>token</unloadingRemark>
  </UnloadingRemark>
  {#- Optional: #}
  <Consignment>
    {#- Optional: #}
    <grossMass>1000.000000000000</grossMass>
    {#- 0 to 9999 repetitions: #}
    <TransportEquipment>
      <sequenceNumber>token</sequenceNumber>
      {#- Optional: #}
      <containerIdentificationNumber>token</containerIdentificationNumber>
      {#- Optional: #}
      <numberOfSeals>token</numberOfSeals>
      {#- 0 to 99 repetitions: #}
      <Seal>
        <sequenceNumber>token</sequenceNumber>
        <identifier>token</identifier>
      </Seal>
      {#- 0 to 9999 repetitions: #}
      <GoodsReference>
        <sequenceNumber>token</sequenceNumber>
        <declarationGoodsItemNumber>token</declarationGoodsItemNumber>
      </GoodsReference>
    </TransportEquipment>
    {#- 0 to 999 repetitions: #}
    <DepartureTransportMeans>
      <sequenceNumber>token</sequenceNumber>
      {#- Optional: #}
      <typeOfIdentification>token</typeOfIdentification>
      {#- Optional: #}
      <identificationNumber>token</identificationNumber>
      {#- Optional: #}
      <nationality>to</nationality>
    </DepartureTransportMeans>
    {#- 0 to 99 repetitions: #}
    <SupportingDocument>
      <sequenceNumber>token</sequenceNumber>
      {#- Optional: #}
      <type>token</type>
      {#- Optional: #}
      <referenceNumber>token</referenceNumber>
      {#- Optional: #}
      <complementOfInformation>token</complementOfInformation>
    </SupportingDocument>
    {#- 0 to 99 repetitions: #}
    <AdditionalReference>
      <sequenceNumber>token</sequenceNumber>
      {#- Optional: #}
      <type>token</type>
      {#- Optional: #}
      <referenceNumber>token</referenceNumber>
    </AdditionalReference>
    {#- 0 to 999 repetitions: #}
    <HouseConsignment>
      <sequenceNumber>token</sequenceNumber>
      {#- Optional: #}
      <grossMass>1000.000000000000</grossMass>
      {#- Optional: #}
      <securityIndicatorFromExportDeclaration>token</securityIndicatorFromExportDeclaration>
      {#- 0 to 999 repetitions: #}
      <DepartureTransportMeans>
        <sequenceNumber>token</sequenceNumber>
        {#- Optional: #}
        <typeOfIdentification>token</typeOfIdentification>
        {#- Optional: #}
        <identificationNumber>token</identificationNumber>
        {#- Optional: #}
        <nationality>to</nationality>
      </DepartureTransportMeans>
      {#- 0 to 99 repetitions: #}
      <PreviousDocument>
        <sequenceNumber>token</sequenceNumber>
        <type>token</type>
        <referenceNumber>token</referenceNumber>
        {#- Optional: #}
        <complementOfInformation>token</complementOfInformation>
      </PreviousDocument>
      {#- 0 to 99 repetitions: #}
      <AdditionalReference>
        <sequenceNumber>token</sequenceNumber>
        {#- Optional: #}
        <type>token</type>
        {#- Optional: #}
        <referenceNumber>token</referenceNumber>
      </AdditionalReference>
      {#- 0 to 9999 repetitions: #}
      <ConsignmentItem>
        <goodsItemNumber>token</goodsItemNumber>
        <declarationGoodsItemNumber>token</declarationGoodsItemNumber>
        {#- Optional: #}
        <Commodity>
          {#- Optional: #}
          <descriptionOfGoods>token</descriptionOfGoods>
          {#- Optional: #}
          <cusCode>token</cusCode>
          {#- Optional: #}
          <CommodityCode>
            <harmonizedSystemSubHeadingCode>token</harmonizedSystemSubHeadingCode>
            {#- Optional: #}
            <combinedNomenclatureCode>to</combinedNomenclatureCode>
          </CommodityCode>
          {#- Optional: #}
          <GoodsMeasure>
            {#- Optional: #}
            <grossMass>1000.000000000000</grossMass>
            {#- Optional: #}
            <netMass>1000.000000000000</netMass>
          </GoodsMeasure>
        </Commodity>
        {#- 0 to 99 repetitions: #}
        <Packaging>
          <sequenceNumber>token</sequenceNumber>
          {#- Optional: #}
          <typeOfPackages>token</typeOfPackages>
          {#- Optional: #}
          <numberOfPackages>token</numberOfPackages>
          {#- Optional: #}
          <shippingMarks>token</shippingMarks>
        </Packaging>
        {#- 0 to 99 repetitions: #}
        <SupportingDocument>
          <sequenceNumber>token</sequenceNumber>
          {#- Optional: #}
          <type>token</type>
          {#- Optional: #}
          <referenceNumber>token</referenceNumber>
          {#- Optional: #}
          <complementOfInformation>token</complementOfInformation>
        </SupportingDocument>
        {#- 0 to 99 repetitions: #}
        <AdditionalReference>
          <sequenceNumber>token</sequenceNumber>
          {#- Optional: #}
          <type>token</type>
          {#- Optional: #}
          <referenceNumber>token</referenceNumber>
        </AdditionalReference>
      </ConsignmentItem>
    </HouseConsignment>
  </Consignment>
</ncts:CC044C>
